body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 42px;
  font-weight: lighter;
}

h2 {
  font-family: 'Lucida Grande', serif;
  font-size: 16px;
  line-height: 12px;
}

h3 {
  font-family: 'Lucida Grande', serif;
  font-size: 12px;
  line-height: 12px;
}

.App {
  margin: 0 220px 0 220px;
}

button {
 background-color: black;
 border: none;
 color: white;
 padding: 9px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 font-weight: lighter;
 margin: 4px 2px;
 cursor: pointer;
 letter-spacing: 1px;
}

.Menu {
  height: 75px;
}

ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li {
  font-size: 12px;
  letter-spacing: 1px;
}

#menubutton {
  background-color: #03a87c;
  padding: 6px 16px;
}

#bold {
  font-weight: bold;
}

.Header {
  padding: 40px 0 40px 0;
  background-image: url(/images/medium-image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  border-style: groove;
  border-width: thin;
}

.Header p {
  padding-top: 25px;
}

.leftColumn {
  width: 50%;
}

.buttons {
  padding-top: 40px;
}

#secondbutton {
  margin-left: 20px;
  background-color: white;
  border-style: groove;
  border-width: thin;
  color: black;
}

.contentBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#box {
  width: 488px;
  height: 255px;
  border-style: groove;
  border-width: thin;
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.textbox {
  width: 256px;
  height: 223px;
  padding: 16px;
  float: right;
  z-index: 2;
  background-color: white;
}

.byline {
  width: 256px;
  height: 40px;
}

.firstBox {
  background-image: url(/images/medium-image-puff-1.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -60% 0;
  z-index: 0;
}

.firstBox img {
  width: 20%;
  border-radius: 50%;
}

.secondBox {
  background-image: url(/images/medium-image-puff-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -500%;
  z-index: 0;
  overflow: hidden;
}

.thirdBox {
  background-image: url(/images/medium-image-puff-4.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -75%;
  z-index: 0;
  overflow: hidden;
}

.fourthBox {
  background-image: url(/images/medium-image-puff-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -50%;
  z-index: 0;
  overflow: hidden;
}
